
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    display: block;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}



.list {
list-style: none;
}
.link {
text-decoration: none;
}
.teacher__list-icon{
    fill: black;
}
.teacher__list-icon-logotip{
    fill: #000;
}
@media screen and (min-width: 480px) {

}



@media screen and (min-width: 768px) {

}




@media screen and (min-width: 1200px) {

}



