:root {
    --primary-text-color: #111518;
    --secondary-text-color: #b9b9b9;
    --title-text-color: #ffffff;

    --primary-bcg-color: #ffffff;
    --secondary-bcg-color: #111518;

    --accent-color: #ff6b09;

    --primary-font: 'Montserrat', sans-serif;
}
