.hiden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media screen and (max-width: 1366px) {
    .box-desc {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .box-tabl {
        display: none;
    }
}
