



<!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, quo.</p> -->

<section class="about  teacher">
    <div class="teacher__bloc img">
<h2 class="teacher__profesion">
    Teacher
</h2>

<div>

    <picture class="teacher__foto">
    <source
        srcset="./images/about/about-desc-579.jpg 1x, ./images/about/about-desc-1158.jpg 2x"
        media="(min-width: 1200px)">
        <source
        srcset="./images/about/about-mob-243.jpg 1x, ./images/about/about-mob-486.jpg 2x"
        media="(min-width: 768px)">
        <source
        srcset="./images/about/about-mob-243.jpg 1x, ./images/about/about-mob-486.jpg 2x"
        media="(min-width: 480px)">
        <source
        srcset="./images/about/about-mob-243.jpg 1x, ./images/about/about-mob-486.jpg 2x"
        media="(min-width: 320px)">

        <img class="" src="#" alt="учитель">
    </picture>

</div>
<div class="teacher__naeim">
    <h2 class="teacher__naeim-text">Elena Moreva</h2>
</div>
<Ul class="teacher__list list">
    <li class="teacher__list-text">

        <svg class="teacher__list-icon" width="18" height="14" >
            <use class="teacher__list-icon-logotip" href=""></use>

            
        </svg>
        <p class="teacher__list-icon-text">Experience in preparing students for VNO - 6 years</p>     

    </li>

    <li class="teacher__list-text">

        <svg class="teacher__list-icon" width="18" height="14" >
            <use class="teacher__list-icon-logotip" href=""></use>
        </svg>
      <p class="teacher__list-icon-text">Own result of passing VNO - 197 points 2 years in a row</p>
    </li>

    <li class="teacher__list-text">

        <svg class="teacher__list-icon" width="18" height="14" >
            <use class="teacher__list-icon-logotip" href=""></use>
        </svg>
        <p class="teacher__list-icon-text">Passed perfectly the international analogue of VNO - Cambridge PET (Preliminary English Test)</p>
    </li>

</Ul>
<ul>
    <li class="teacher__list-text-link">
        <p class="teacher__list-text-poragraf">
        She graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.
        In his spare time, he takes courses from the best universities in the world on effective teaching and essay writing techniques.
        Among the passed: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The University of Queesland), How to Write
         an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching
          and Learning (University of Houston).
          </p>
        </li>

    <li class="teacher__list-text-link"><a href="" class="teacher__list-text-item link list">Cambrige English Entry Level Certificate</a></li>
</ul>

</div>

</section>

