<section class="teacher">
    <div class="teacher__bloc container">
        <h2 class="teacher__profesion">Teacher</h2>
        <div class="about-posicion">
            <div class="teacher__foto">
                <picture>
                    <source srcset="./images/about/about-desc-579.jpg 1x, ./images/about/about-desc-1158.jpg 2x"
                        media="(min-width: 1366px)">
            
                    <source srcset="./images/about/about-mob-243.jpg 1x, ./images/about/about-mob-486.jpg 2x"
                        media="(min-width: 768px)">
            
                    <source srcset="./images/about/about-mob-243.jpg 1x, ./images/about/about-mob-486.jpg 2x"
                        media="(min-width: 320px)">
            
                    <img class="about-img" src="./images/about/about-mob-243.jpg" alt="teacher">
                </picture>
            </div>
            <div class="teacher__about">
                <h3 class="teacher__name-text">Elena Moreva</h3>
                <ul class="teacher__list list">
                    <li class="teacher__list-item">
                        6 yeards of experience in preparing students for UPE
            
                    </li>
            
                    <li class="teacher__list-item">
                        Own result of passing VNO - 197 points 2 years in a row
            
                    </li>
            
                    <li class="teacher__list-item">
                        Passed perfectly the international analogue of VNO - Cambridge PET (Preliminary English Test)
            
                    </li>
            
                </ul>
                <p class="teacher__about-poragraf">
                    She graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.
                    In his spare time, he takes courses from the best universities in the world on effective teaching and essay
                    writing
                    techniques.
                    Among the passed: English Grammar and Essay Writing (Berkeley), English Grammar&Style (The University of
                    Queesland),
                    How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS
                    education), Powerful Tools
                    for Teaching and Learning (University of Houston).
                </p>
                <a href="" class="teacher__link link">Cambrige English Entry Level Certificate</a>
            </div>


        </div>
        

    </div>

</section>

