<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, quo.</p>

  <!-- Advantages-->



  <section class="advantages">
    <div class="advantages__bloc">
    
      <Ul class="">

        <li class="advantages__list">
             <svg class="advantages__list-icon" width="40" height="48" >
                <use class="advantages__list-icon-logotip" href=""></use>
              </svg>
            <p class="advantages__list-text">Adapted author's
              UPE program</p>     
         </li>

         <li class="advantages__list">
          <svg class="advantages__list-icon" width="48" height="47" >
             <use class="advantages__list-icon-logotip" href=""></use>
           </svg>
         <p class="advantages__list-text">Modern
          teaching methods</p>     
      </li>

      <li class="advantages__list">
        <svg class="advantages__list-icon" width="42" height="48" >
           <use class="advantages__list-icon-logotip" href=""></use>
         </svg>
       <p class="advantages__list-text">Financial guarantee
        the result</p>     
    </li>




      </ul>
    </div>
    
    
       </section>
    
    