

  <!-- Advantages-->



  <section class="advantages">
    <div class="advantages__bloc container">
    
      <ul class="advantages__bloc-list list">

        <li class="advantages__list">
           <a class="advantages__list-icon svg-1-fase">
             <svg class="advantages__list-icon-svg" >
                <use class="advantages__list-icon-logotip" href="./images/icons/advanteges-svg-icon.svg#icon-sprite-svg-1-fase"></use>
              </svg>
           </a>
            <p class="advantages__list-text">Adapted author's
             VBO program</p>     
         </li>

         <li class="advantages__list">
       <a class="advantages__list-icon svg-2-tel">
          <svg class="advantages__list-icon-svg" >
             <use class="advantages__list-icon-logotip" href="./images/icons/advanteges-svg-icon.svg#icon-sprite-svg-2-tel"></use>
           </svg>
       </a>
         <p class="advantages__list-text">Modern
          teaching methods</p>     
      </li>

      <li class="advantages__list">
      <a class="advantages__list-icon svg-3-zont">
        <svg class="advantages__list-icon-svg" >
           <use class="advantages__list-icon-logotip" href="./images/icons/advanteges-svg-icon.svg#icon-sprite-svg-3-zont"></use>
         </svg>
      </a>
       <p class="advantages__list-text">Financial guarantee 
        the result</p>     
    </li>




      </ul>
    </div>
    
       </section>
    
    