

  <!-- Advantages-->



  <section class="advantages">
    <div class="advantages__bloc container">
    
      <ul class="advantages__bloc-list list">

        <li class="advantages__list">
           <a class="advantages__list-icon svg-1-fase">
             <svg width="34" height="38" >
                <use class="advantages__list-icon-logotip" href="./images/icons/advanteges-svg-icon.svg#icon-sprite-svg-1-fase"></use>
              </svg>
           </a>
            <p class="advantages__list-text">Adapted<br> author's <br>
              UPE program</p>     
         </li>

         <li class="advantages__list">
       <a class="advantages__list-icon svg-2-tel">
          <svg width="40" height="41" >
             <use class="advantages__list-icon-logotip" href="./images/icons/advanteges-svg-icon.svg#icon-sprite-svg-2-tel"></use>
           </svg>
       </a>
         <p class="advantages__list-text">Modern<br>
          teaching <br> methods</p>     
      </li>

      <li class="advantages__list">
      <a class="advantages__list-icon svg-3-zont">
        <svg width="42" height="48" >
           <use class="advantages__list-icon-logotip" href="./images/icons/advanteges-svg-icon.svg#icon-sprite-svg-3-zont"></use>
         </svg>
      </a>
       <p class="advantages__list-text">Financial<br>  guarantee <br>
        the result</p>     
    </li>




      </ul>
    </div>
    
       </section>
    
    