<section class="benefits">
<div class="container container__benefits">
<h2 class="benefits__title">Why do people <br class="hide-br">choose us</h2>
 <div class="benefits__container-small">
    <ul class="benefits__list list">
        <li class="benefits__items">Training in small groups</li>
        <li class="benefits__items">Rendered notes</li>
        <li class="benefits__items">Each lesson has a goal and a specific result</li>
        <li class="benefits__items">The real results of the teacher</li>
        <li class="benefits__items">The course program meets the requirements of the MES of Ukraine</li>
        <li class="benefits__items">Set of groups by level of knowledge</li>
    </ul>
    </div>
</div>
</section>
