<section class="footer">
    <div class="container">
        <div class="footer__contacts">
            <p class="footer__logo">
                тут будет лого
            </p>
            
            <a class="footer__tel" href="+38 (000) 000 00 00">
            
                +38 (000) 000 00 00
            </a>
            <svg class="icon-insta" width="40px" height="40px">
                <use href="../images/icons/instagram.svg"></use>
            </svg> 
        </div>
        <div class="footer__copy">
            <p>
                @ All rights reserved, 2019
            </p>
        </div>
    </div>
</section>

<!-- <svg class="tel" width="30px" height="29px">
    <use href="../images/icons/group-tel.svg"></use>
</svg> -->