<section class="footer">
    <div class="container footer__container">
        <div class="footer__contacts">
            <a class="logo link footer__logo" href="#start">
             
                <div class="logo-flex">
                    Hell
                    <svg class="logo__icon">
                        <use href="./images/icons/sprite.svg#icon-campfire"></use>
                    </svg>
                    EN
                </div>
                <div class="logo__part">
                    <span class="logo__part logo__part--lower">HELLISH</span>
                    english
                
            </div>
            </a>
        
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__tel link" href="tel:+38 (000) 000 00 00">
                        <svg class="footer__tel-icon" width="30" height="29" viewBox="0 0 30 29"><use href="./images/icons/sprite.svg#icon-footer-phone"></use>
                            </svg>
                            +38 (000) 000 00 00
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__insta link">
  
                         <svg class="footer__insta-icon" width="40px" height="40px">
                             <use class="icon-footer-instagram" href="./images/icons/sprite.svg#icon-footer-instagram"></use>
                           
                        </svg> 
                    </a
                </li>
            </ul>
                                     
        </div>
        
    </div>
    <div class="footer__copy">
        <div class="container">
            <p class="copy__text">
            &copy All rights reserved, 2019
             </p>
        </div>
        
    </div> 
</section>




