<header class="header section">
    <div class="container">
        <nav class="header__nav">
            <a class="logo link" href="/">
                <div class="logo-flex">
                    Hell
                    <svg class="logo__icon">
                        <use href="./images/icons/sprite.svg#icon-campfire"></use>
                    </svg>
                    EN
                </div>
                <div class="logo__part">
                    <span class="logo__part logo__part--lower">HELLISH</span>
                    english
                </div>
            </a>

            <div class="header__menu-container" id="header__menu-container" data-menu>
                <ul class="nav-menu list">
                    <li class="nav-menu__item"><a class="link" href="#program">Studying program</a></li>
                    <li class="nav-menu__item"><a class="link" href="#about">about</a></li>
                    <li class="nav-menu__item"><a class="link" href="#options">training options</a></li>
                    <li class="nav-menu__item"><a class="link" href="#contacts">contacts</a></li>
                </ul>
                <button class="modal-btn" type="button" data-modal-open>consultation by phone</button>

            </div>

            <button type="button" class="header__mobile-menu-btn"
                    aria-expanded="false"
                    aria-controls="header__menu-container"
                    data-menu-button>
                <svg class="header__icon-menu" width="20" height="20" aria-lable="mobile menu switch">
                    <use class="header__icon-menu-close" href="./images/icons/sprite.svg#icon-btn-close"></use>
                    <use class="header__icon-menu-burger" href="./images/icons/sprite.svg#icon-menu-burger"></use>
                </svg>
            </button>
            
        </nav>
    </div>
</header>

<!--Когда будет создана папка js добавлю скрипты в index.html-->
<!-- <script src="./js/menu.js"></script> -->

<!--Скрипт для модального окна-->
<!-- <script src="./js/modal.js"></script> -->



