<section class="hero">
    <div class="hero-container container">
        <div class="hero__content">
            <h1 class="hero__title title title--black">Complex preparation for English UPE</h1>
            <p class="hero__subtitle hero__subtitle--light">It won’t be easy.</p>
            <p class="hero__subtitle">But you’re are guaranteed to get
                <span class="accent">+25 points</span>
            </p>
            <a class="btn-free-lesson link" href="#footer-form">i want a free lesson</a>

        </div>
        
        <div class="hero__thumb">
            <img class="hero__img" srcset="./images/hero/hero-mobile-208.png 208w,./images/hero/hero-tablet-376.png 376w,
                                           ./images/hero/hero-mobile2-416.png 416w, ./images/hero/hero-tablet2-752.png 752w,
                                  ./images/hero/hero-desktop-842.png 842w,./images/hero/hero-desktop2-1684.png 1684w"
                                  
                sizes="(min-width: 1366px) 842px, (min-width: 768px) 376px, (min-width: 320px) 208px, 100vw"
                src="./images/hero/hero-mobile-208.png" alt="team">
        </div>
    </div>
</section>