<section class="hero">
    <div class="hero-container container">
        <div class="hero__content">
            <h1 class="hero__title title title--black">Complex preparation for English UPE</h1>
            <p class="hero__subtitle hero__subtitle--light">It won’t be easy.</p>
            <p class="hero__subtitle">But you’re are guaranteed to get
                <span class="accent">+25 points</span>
            </p>
            <a class="btn-free-lesson link" href="#footer-form">i want a free lesson</a>

        </div>
        
        <div class="hero__thumb">
        </div>
    </div>
</section>