<section class="how-we-do-section">
    <div class="container">
        <h2 class="how-we-do__title">How do we do it</h2>
        <ul class="list how-we-do__list">
            <li class="how-we-do__card">
                <a href="#" class="how-we-do__item">
                    <div class="how-we-do__icon">
                        <svg width='45' height='48'>
                            <use href="./images/icons/sprite.svg#icon-noun_study-program">
                            </use>
                        </svg>
                    </div>
                    <div class="how-we-do__card-title">
                        <h3 class="how-we-do__heading">Adapted program preparation for UPE</h3>
                        <span class="how-we-do__color">&#8212;</span>
                        <p class="how-we-do__description">You will learn grammar and vocabulary at the same time. And
                            you will learn
                            how to write essays.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__card">
                <a href="#" class="how-we-do__item">
                    <div class="how-we-do__icon">
                        <svg width='48' height='47'>
                            <use href="./images/icons/sprite.svg#icon-noun_mobile_learning">
                            </use>
                        </svg>
                    </div>
                    <div class="how-we-do__card-title">
                        <h3 class="how-we-do__heading">Classroom and online learning</h3>
                        <span class="how-we-do__color">&#8212;</span>
                        <p class="how-we-do__description">The teacher will help not only in the classroom, but also
                            during home preparation.
                            Parents can chat if they wish.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__card">
                <a href="#" class="how-we-do__item">
                    <div class="how-we-do__icon">
                        <svg width='68' height='48'>
                            <use href="./images/icons/sprite.svg#icon-noun_open_book">
                            </use>
                        </svg>
                    </div>
                    <div class="how-we-do__card-title">
                        <h3 class="how-we-do__heading">The habit of reading in English</h3>
                        <span class="how-we-do__color">&#8212;</span>
                        <p class="how-we-do__description">Articles from sources that are used in the development of this
                            UPE will be received by phone twice a week.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__card">
                <a href="#" class="how-we-do__item">
                    <div class="how-we-do__icon">
                        <svg width='48' height='48'>
                            <use href="./images/icons/sprite.svg#icon-group">
                            </use>
                        </svg>
                    </div>
                    <div class="how-we-do__card-title">
                        <h3 class="how-we-do__heading">Psychological support</h3>
                        <span class="how-we-do__color">&#8212;</span>
                        <p class="how-we-do__description">We will teach you testing techniques, the ability to plan your
                            confidence training in itself.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__card">
                <a href="#" class="how-we-do__item">
                    <div class="how-we-do__icon">
                        <svg width='39' height='48'>
                            <use href="./images/icons/sprite.svg#icon-noun_female_student">
                            </use>
                        </svg>
                    </div>
                    <div class="how-we-do__card-title">
                        <h3 class="how-we-do__heading">Training on copyright manuals</h3>
                        <span class="how-we-do__color">&#8212;</span>
                        <p class="how-we-do__description">You don't have to waste your time on a search for material and
                            to buy anything extra. We have compiled 2 manuals for
                            you.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__card">
                <a href="#" class="how-we-do__item">
                    <div class="how-we-do__icon">
                        <svg width='57' height='48'>
                            <use href="./images/icons/sprite.svg#icon-noun_audio_book">
                            </use>
                        </svg>
                    </div>
                    <div class="how-we-do__card-title">
                        <h3 class="how-we-do__heading">Ability to comprehend spoken English</h3>
                        <span class="how-we-do__color">&#8212;</span>
                        <p class="how-we-do__description">“F.R.I.E.N.D.S” won't help you. You will listen regularly and
                            analyze audio recordings in accordance with the studied
                            vocabulary.</p>
                    </div>
                </a>
            </li>
            <li class="how-we-do__card"></li>
        </ul>
    </div>
</section>