<section class="problems">
    
    <div class="container problems__container">
    
            <h2 class="problems__title">The main problems of students<br>
                                 in English UPE, which<br>
                                 we <span class="problems__text-accent-color">help</span> to solve
             </h2>
    
  <div class="problems__container-small">
     <ul class="problems__list list">
         <li class="problems__items">Grammar</li>
         <li class="problems__items">Inability to understand spoken English</li>
         <li class="problems__items">Stingy vocabulary for writing an essay</li>
         <li class="problems__items">Preparing alone</li>
         <li class="problems__items">Lack of a single knowledge resource</li>
         <li class="problems__items">Lack of self-organization and laziness</li>
     </ul>
     </div>
  </div>

</section>