<section class="program program--photo">
    <div class="container program__container">
        <h2 class="program__title">Our program</h2>
        <div class="program__thumb">

            <ul class="program__list list">
                <li class="program__item">
                    <h3 class="semestr__title">1 semester</h3>
                    <ul class="semestr__list list semestr__list--one">
                        <li class="semestr__item semestr__item--143">
                            <h4 class="kind__title">— Grammar</h4>
                            <ul class="kind__list list">
                                <li class="kind__item">
                                    Nouns & Articles
                                </li>
                                <li class="kind__item">
                                    Adjectives & Adverb
                                </li>
                            </ul>
                        </li>
                        <li class="semestr__item semestr__item--138">
                            <h4 class="kind__title">— Vocabulary</h4>
                            <ul class="list">
                                <li class="kind__item">
                                    Family & Relations
                                </li>
                                <li class="kind__item">
                                    People & Society
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item">
                    <h3 class="semestr__title">2 semester</h3>
                    <ul class="semestr__list list semestr__list--two">
                        <li class="semestr__item semestr__item--121">
                            <h4 class="kind__title">— Grammar</h4>
                            <ul class="list">
                                <li class="kind__item">
                                    Pronouns
                                </li>
                                <li class="kind__item">
                                    Active Voice
                                </li>
                                <li class="kind__item">
                                    Passive Voice
                                </li>
                            </ul>
                        </li>
                        <li class="semestr__item semestr__item--120">
                            <h4 class="kind__title">— Vocabulary</h4>
                            <ul class="list">
                                <li class="kind__item">
                                    Home
                                </li>
                                <li class="kind__item">
                                    School
                                </li>
                                <li class="kind__item">
                                    Work
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item">
                    <h3 class="semestr__title">3 semester</h3>
                    <ul class="semestr__list list semestr__list--three">
                        <li class="semestr__item semestr__item--121">
                            <h4 class="kind__title">— Grammar</h4>
                            <ul class="list">
                                <li class="kind__item">
                                    Modal verbs
                                </li>
                                <li class="kind__item">
                                    Infinitive
                                </li>
                                <li class="kind__item">
                                    Gerund
                                </li>
                                <li class="kind__item">
                                    Participle: 1, 2
                                </li>
                            </ul>
                        </li>
                        <li class="semestr__item semestr__item--141">
                            <h4 class="kind__title">— Vocabulary</h4>
                            <ul class="list">
                                <li class="kind__item">
                                    Travel & Tourism
                                </li>
                                <li class="kind__item">
                                    Culture & Free Time
                                </li>
                                <li class="kind__item">
                                    Sport
                                </li>
                            </ul>
                        </li>
                        <li class="semestr__item semestr__item--109">
                            <h4 class="kind__title">— Writing</h4>
                            <ul class="list">
                                <li class="kind__item">
                                    Informal Letter
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item">
                    <h3 class="semestr__title">4 semester</h3>
                    <ul class="semestr__list list semestr__list--four">
                        <li class="semestr__item semestr__item--176">
                            <h4 class="kind__title">— Grammar</h4>
                            <ul class="list">
                                <li class="kind__item">
                                    Clauses: Conditional and Wishes
                                </li>
                                <li class="kind__item">
                                    Direct / Reported speech
                                </li>
                                <li class="kind__item">
                                    Preposition
                                </li>
                                <li class="kind__item">
                                    Conjunction
                                </li>
                                <li class="kind__item">
                                    Numeral
                                </li>
                            </ul>
                        </li>
                        <li class="semestr__item semestr__item--155">
                            <h4 class="kind__title">— Vocabulary</h4>
                            <ul class="list">
                                <li class="kind__item">
                                    Healthy Living
                                </li>
                                <li class="kind__item">
                                    Nature & Environment
                                </li>
                                <li class="kind__item">
                                    Money
                                </li>
                            </ul>
                        </li>
                        <li class="semestr__item semestr__item--110">
                            <h4 class="kind__title">— Writing</h4>
                            <ul class="list">
                                <li class="kind__item">
                                    Formal Letter
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program__item">
                    <h3 class="semestr__title">5 semester</h3>
                    <ul class="list">
                        <h4 class="kind__title">— </h4>
                        <li class="kind__item kind__item--width">Revision Tests</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>