<section class="program">
    <div class="container">
        <h2>Our program</h2>
        <ul>
            <li>
                <h4>1 semester</h4>
                <dl>
                    <dt>
                        Grammar
                    </dt>
                    <dd>
                        Nouns & Articles <pre>Adjectives & Adverb</pre>
                    </dd>
                    <dt>
                        Vocabulary
                    </dt>
                    <dd>
                        Family & Relations <pre>People & Society</pre>
                    </dd>
                </dl>
            </li>
            <li>               
                <h4>2 semester</h4>
                <dl>
                    <dt>
                        Grammar
                    </dt>
                    <dd>
                        Pronouns <pre>Active Voice</pre> <pre>Passive Voice</pre>
                    </dd>
                    <dt>
                        Vocabulary
                    </dt>
                    <dd>
                        Home <pre>School</pre> <pre>Work</pre>
                    </dd>
                </dl>
            </li>
            <li>
                <h4>3 semester</h4>
                <dl>
                    <dt>
                        Grammar
                    </dt>
                    <dd>
                        <pre>Modal verbs</pre> <pre>Infinitive</pre> <pre>Gerund</pre> <pre>Participle: 1, 2</pre>
                    </dd>
                    <dt>
                        Vocabulary
                    </dt>
                    <dd>
                        Travel & Tourism <pre>Culture & Free Time</pre> <pre>Sport</pre>
                    </dd>
                    <dt>
                        Writing
                    </dt>
                    <dd>
                        Informal Letter
                    </dd>
                </dl>
            </li>
            <li>
                <h4>4 semester</h4>
                <dl>
                    <dt>
                        Grammar
                    </dt>
                    <dd>
                        Clauses: Conditional <pre>and Wishes</pre> <pre>Direct / Reported</pre> <pre>speech</pre> <pre>Preposition</pre> <pre>Conjunction</pre> <pre>Numeral</pre>
                    </dd>
                    <dt>
                        Vocabulary
                    </dt>
                    <dd>
                        Healthy Living <pre>Nature & Environment</pre> <pre>Money</pre>
                    </dd>
                    <dt>
                        Writing
                    </dt>
                    <dd>
                        Revision <pre>Tests</pre>
                    </dd>
                </dl>
            </li>
            <li>
                <h4>5 semester</h4>
                <p>Revision Tests</p>
            </li>
        </ul>
        <ul>
            <li>
                <h4>01</h4>
                <p>Training in small groups</p>
            </li>
            <li>
                <h4>02</h4>
                <p>Rendered notes</p>
            </li>
            <li>
                <h4>03</h4>
                <p>Each lesson has a goal and a specific result</p>
            </li>
            <li>
                <h4>04</h4>
                <p>The real results of the teacher</p>
            </li>
            <li>
                <h4>05</h4>
                <p>The course program meets the requirements of the MES of Ukraine</p>
            </li>
            <li>
                <h4>06</h4>
                <p>Set of groups by level of knowledge</p>
            </li>
        </ul>
    </div>
</section>