<section class="reviews">
    <div class="container">
        <h2 class="reviews-title">Feedback from graduates</h2>
        <div class="reviews-menu">
            <div class="reviews-social">
                <img class="reviews-social-img" srcset="
                    ./images/reviews/reviews-mob1-90.jpg 90w,
                    ./images/reviews/reviews-tabl1-150.jpg 150w,
                    ./images/reviews/reviews-mob1-180.jpg 180w,
                    ./images/reviews/reviews-tabl1-300.jpg 300w
                    " sizes="(min-width: 1200px) 150px, (min-width: 768px) 150px, (min-width: 320px) 90px, 290px"
                    src="./images/reviews/reviews-mob1-90.jpg" alt="graduate-tonya-kucherovskaya" />
                <a href="" class="reviews-social-link">
                    <svg class="reviews-social-icon">
                        <use href="./images/icons/sprite.svg#icon-vk"></use>
                    </svg>
                </a>
            </div>
            <div class="reviews-graduates">
                <h3 class="reviews-graduates-title">Tonya Kucherovskaya</h3>
                <p class="reviews-graduates-education">Graduated from 2015, National University of Bioresources and
                    natural history of Ukraine</p>
                <article class="reviews-graduates-article">
                    <h4 class="hiden-title">reviews-graduates-text</h4>
                    <p class="reviews-graduates-text">In a short time with Elena, I mastered grammar and replenished my
                        completely empty vocabulary. From the first lesson I
                        realized that I was on my plate. Elena and I became friends because she was really worried about
                        my success. She became
                        an authority for me, but I did not tremble in class, fearing to make the slightest mistake. Now
                        I can brag that I'm
                        student...<br class=".box-desct"><a class="reviews-graduates-link accent-color" href="">Read more</a></p>
                </article>
            </div>
        </div>
        <ul class="reviews-graduates-menu list">
            <li class="reviews-graduates-menu-item">
                <img class="reviews-graduates-menu-img" srcset="
                    ./images/reviews/reviews-mob2-54.jpg 54w,
                    ./images/reviews/reviews-mob2-108.jpg 108w
                    " sizes="(min-width: 1200px) 54px, (min-width: 768px) 54px, (min-width: 320px) 54px, 290px"
                    src="./images/reviews/reviews-mob2-54.jpg" alt="graduate UPE" />
            </li>
            <li class="reviews-graduates-menu-item">
                <img class="reviews-graduates-menu-img" srcset="
                    ./images/reviews/reviews-mob3-54.jpg 54w,
                    ./images/reviews/reviews-mob3-108.jpg 108w
                    " sizes="(min-width: 1200px) 54px, (min-width: 768px) 54px, (min-width: 320px) 54px, 290px"
                    src="./images/reviews/reviews-mob3-54.jpg" alt="graduate UPE" />
            </li>
            <li class="reviews-graduates-menu-item">
                <img class="reviews-graduates-menu-img" srcset="
                    ./images/reviews/reviews-mob4-54.jpg 54w,
                    ./images/reviews/reviews-mob4-108.jpg 108w
                    " sizes="(min-width: 1200px) 54px, (min-width: 768px) 54px, (min-width: 320px) 54px, 290px"
                    src="./images/reviews/reviews-mob4-54.jpg" alt="graduate UPE" />
            </li>
            <li class="reviews-graduates-menu-item box-tabl">
                <img class="reviews-graduates-menu-img" srcset="
                    ./images/reviews/reviews-mob5-54.jpg 54w,
                    ./images/reviews/reviews-mob5-108.jpg 108w
                    " sizes="(min-width: 1200px) 54px, (min-width: 768px) 54px, (min-width: 480px) 54px, 290px"
                    src="./images/reviews/reviews-mob5-54.jpg" alt="graduate UPE" />
            </li>
            <li class="reviews-graduates-menu-item box-tabl">
                <img class="reviews-graduates-menu-img" srcset="
                    ./images/reviews/reviews-mob6-54.jpg 54w,
                    ./images/reviews/reviews-mob6-108.jpg 108w
                    " sizes="(min-width: 1200px) 54px, (min-width: 768px) 54px, (min-width: 480px) 54px, 290px"
                    src="./images/reviews/reviews-mob6-54.jpg" alt="graduate UPE" />
            </li>
            <li class="reviews-graduates-menu-item box-tabl">
                <img class="reviews-graduates-menu-img" srcset="
                    ./images/reviews/reviews-mob7-54.jpg 54w,
                    ./images/reviews/reviews-mob7-108.jpg 108w
                    " sizes="(min-width: 1200px) 54px, (min-width: 768px) 54px, (min-width: 480px) 54px, 290px"
                    src="./images/reviews/reviews-mob7-54.jpg" alt="graduate UPE" />
            </li>
            <li class="reviews-graduates-menu-item box-tabl">
                <img class="reviews-graduates-menu-img" srcset="
                    ./images/reviews/reviews-mob8-54.jpg 54w,
                    ./images/reviews/reviews-mob8-108.jpg 108w
                    " sizes="(min-width: 1200px) 54px, (min-width: 768px) 54px, (min-width: 480px) 54px, 290px"
                    src="./images/reviews/reviews-mob8-54.jpg" alt="graduate UPE" />
            </li>
        </ul>
    </div>
</section>