.teacher {
    margin-bottom: 50px;

    @media screen and (min-width: 1366px) {
        margin-bottom: 130px;
    }
}

.teacher__bloc {
    padding-top: 0;
    padding-bottom: 0;
}

.teacher__profesion {
    margin-bottom: 20px;
    padding-bottom: 0;
    font-family: var(--primary-font);
    @include style-text(800, 20px, 26px);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        @include style-text(800, 26px, 34px);
    }

    @media screen and (min-width: 1366px) {
        margin-bottom: 50px;
        @include style-text(800, 46px, 60px);
    }
}

.teacher__name-text {
    margin-top: 20px;
    margin-bottom: 30px;
    @include style-text(800, 20px, 24px);
    letter-spacing: 0.08em;
    color: var(--primary-text-color);

    &::after {
        content: '';
        display: block;
        background-color: var(--secondary-text-color);
        border: 1px solid var(--secondary-text-color);
        margin-top: 10px;
        margin-bottom: 20px;
        height: 0px;
        @media screen and (min-width: 1366px) {
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 20px;
        @include style-text(800, 20px, 24px);
    }

    @media screen and (min-width: 1366px) {
        margin-top: 0;
        margin-bottom: 30px;
        @include style-text(800, 30px, 37px);
    }
}

.teacher__list-item {
    position: relative;
    @include style-text(600, 14px, 17px);
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-left: 27px;

    @media screen and (min-width: 768px) {
        @include style-text(600, 12px, 15px);
    }

    @media screen and (min-width: 1366px) {
        @include style-text(600, 16px, 20px);
    }
}

.teacher__list-item:not(:last-child) {
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        margin-bottom: 35px;
    }

    @media screen and (min-width: 1366px) {
        margin-bottom: 35px;
    }
}

.teacher__list-item::before {
    position: absolute;
    top: 0;
    left: -26px;
    display: block;
    content: '';
    width: 18px;
    height: 14px;
    background-image: url('../images/icons/vector.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    fill: var(--accent-color);
}

.teacher__about-poragraf {
    margin-top: 25px;
    margin-bottom: 10px;
    @include style-text(500, 12px, 26px);
    color: var(--secondary-text-color);

    &::before {
        margin-bottom: 5px;
        display: block;
        content: '\2014';
        @include style-text(700, 20px, 33px);
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        margin-top: 30px;
        margin-bottom: 24px;
        @include style-text(500, 10px, 20px);
    }

    @media screen and (min-width: 1366px) {
        margin-top: 40px;
        margin-bottom: 30px;
        @include style-text(500, 18px, 28px);
    }
}

.teacher__link {
    font-family: var(--primary-font);
    @include style-text(500, 12px, 20px);
    text-decoration-line: underline;
    color: var(--accent-color);
    letter-spacing: normal;

    @media screen and (min-width: 1366px) {
        margin-top: 20px;
        margin-bottom: 37px;
        @include style-text(500, 18px, 28px);
    }
}

.about-posicion {
    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 1366px) {
        display: flex;
    }
}

.teacher__foto {
    @media screen and (min-width: 768px) {
        width: 243px;
    }

    @media screen and (min-width: 1366px) {
        width: 530px;
    }
}

.teacher__about {
    @media screen and (min-width: 768px) {
        margin-left: 44px;
        width: 400px;
    }

    @media screen and (min-width: 1366px) {
        margin-left: 31px;
        width: 640px;
    }
}
