.footer {
    max-width: 479px;
}
.footer__container {
    padding: 0;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__logo {
    // display: flex;
    // justify-content: center;
    margin-top: 30px;
}
.footer__insta {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: radial-gradient(
        110.28% 110.28% at 20.5% 87.39%,
        #fae100 0%,
        #fadc04 5.44%,
        #fbce0e 11.67%,
        #fcb720 18.29%,
        #fe9838 25.14%,
        #ff7950 30.54%,
        #ff1c74 49.22%,
        #6c1cd1 100%
    );
    background-size: cover;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__insta-icon {
    width: 25px;
    height: 25px;
}
.footer__copy {
    min-width: 320px;
    height: 70px;
    background: var(--primary-text-color);
}
.copy__text {
    font-family: var(--primary-font);
    text-align: center;
    @include style-text(500, 14px, 70px);
    color: var(--secondary-text-color);
}
.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    list-style-type: none;
}
.footer__item:not(:last-child) {
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer__tel {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);
}
.footer__tel-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
@media screen and (min-width: 480px) {
    .footer {
        max-width: 767px;
    }
}
@media screen and (min-width: 768px) {
    .footer {
        max-width: 1365px;
    }
    .footer__logo {
        padding-top: 0;
    }
    .footer__contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .footer__list {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .footer__item:not(:last-child) {
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer__tel {
        font-size: 20px;
    }
    .footer__tel-icon {
        width: 24px;
        height: 24px;
    }
    .footer__tel::after {
        content: '';
        display: inline-block;
        width: 0px;
        height: 40px;
        border: 1px solid #b9b9b9;
        margin-left: 24px;
        margin-right: 24px;
    }
    .copy__text {
        // padding-left: 40px;
    }
}
@media screen and (min-width: 1366px) {
    .footer {
        //  max-width: 1680px;
        //  width: 100%;
        //  min-width: 1366px;
        max-width: none;
    }
    .footer__contacts {
        height: 200px;
        margin-left: 0;
    }

    .footer__list {
        margin: 125px auto 35px 150px;
        justify-content: center;
        align-items: flex-end;
    }
    .footer__tel {
        font-size: 30px;
    }
    .footer__tel-icon {
        width: 30px;
        height: 30px;
    }
    .footer__copy {
        margin-bottom: 56px;
    }
    .footer__logo {
        margin-bottom: 53px;
        margin-right: 0;
        margin-top: 100px;
        padding-top: 0;
        padding-left: 183px;
    }
    .copy__text {
        // padding-left: 183px;
    }
}
