.footer{
    max-width: 479px;
}
.footer__logo{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
}
.footer__insta {
    display: block;
    margin: 0 auto; 
}
.footer__copy {
    
    height: 70px;
    background: #111518;
}
.copy__text {
    padding: 21px 83px 21px 52px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    color: #B9B9B9;
}
.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    list-style-type: none;
}
.footer__item:not(:last-child){
    margin-top: 20px;
    margin-bottom: 40px;
}
.footer__tel{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;
    color: #111518;
}
.footer__tel-icon {
    margin-right: 10px;
}
@media screen and (min-width: 480px) {
    .footer{
        max-width: 767px;
    }
}
@media screen and (min-width: 768px){
    .footer{
        max-width: 1199px;
    }
    .footer__logo{
        padding-top: 0;
    }
    .footer__contacts{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
    }
    .footer__list{
        flex-direction: row;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .footer__item:not(:last-child){
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer__tel{
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    
    .footer__tel::after {
        content: "";
        display: inline-block;
        width: 0px;
        height: 40px;
        border: 1px solid #B9B9B9;
        margin-left: 24px;
        margin-right: 24px;
    }
    .copy__text{
        padding-left: 40px;
    }
}
@media screen and (min-width: 1200px){
    .footer{
        width: 1680px;
      
    }
    .footer__contacts{
       height: 200px; 
       margin-left: 0;
             
    }
    .footer__list{
        margin: 125px auto 35px auto;
    }
    .footer__tel{
        font-size: 30px;
    }
    .footer__copy{
        margin-bottom: 56px;
    }
    .footer__logo{
        margin-top: 100px;
        padding-top: 0;
        padding-left: 183px;
    }
    .copy__text{
        padding-left: 183px;
    }
}