.text-orang {
    color: var(--accent-color);
}

.guarantee {
    &-container {
        padding: 0;
        margin-bottom: 50px;
    }

    &-title {
        @include style-text(800, 26px, 34px);
        text-align: center;
        letter-spacing: 0.03em;
        color: #111518;
        padding: 0;
        margin-bottom: 30px;
    }

    &-menu {
        background-color: #f1f1f1;
        width: 100%;
        padding: 30px 20px 30px;
        display: flex;
        flex-wrap: wrap;
    }

    &-menu-item {
        @include style-text(500, 12px, 20px);
        color: #3d3d3d;
        padding-left: 28px;
        position: relative;

        &:not(:last-child) {
            border-left: 1px dashed #b9b9b9;
            padding-bottom: 44px;
        }

        &::before {
            position: absolute;
            top: -10px;
            left: -8px;
            display: block;
            content: '';
            width: 15px;
            height: 35px;
            background-image: url('../images/icons/noun_campfire.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: #f1f1f1;
            fill: var(--accent-color);
        }
    }
}

@media screen and (min-width: 768px) {
    .guarantee {
        &-menu-item {
            @include style-text(500, 12px, 28px);
            padding-left: 32px;

            &:not(:last-child) {
                padding-bottom: 18px;
            }
        }

        &-menu {
            padding: 30px 50px 20px 79px;
        }
    }
}

@media screen and (min-width: 1366px) {
    .guarantee {
        &-container {
            max-width: 1343px;
            margin-bottom: 106px;
        }

        &-title {
            @include style-text(800, 46px, 60px);
            margin-bottom: 50px;
        }

        &-menu-item {
            @include style-text(500, 20px, 28px);
            padding-left: 42px;

            &:not(:last-child) {
                padding-bottom: 30px;
            }

            &::before {
                width: 22px;
                height: 40px;
                left: -10px;
            }
        }
    }
}
