//Многослойный фон
.hero {
    padding-bottom: 77px;
    background-color: var(--primary-bcg-color);
    background-image: url('../images/hero/vector-hero-mob-320.png');
    background-size: 320px;
    background-position: bottom;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        padding-bottom: 107px;
        background-image: url('../images/hero/vector-hero-tablet-768.png');
        background-size: 768px;
    }
    @media screen and (min-width: 1366px) {
        // padding-bottom: 88px;
        padding-bottom: 0;
        margin-bottom: 88px;
        background-image: url('../images/hero/vector-hero-desc-1680.png');
        background-size: 1688px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
        background-image: url('../images/hero/vector-hero-mob-640.png');
        @media screen and (min-width: 768px) {
            background-image: url('../images/hero/vector-hero-tablet-1536.png');
        }
        @media screen and (min-width: 1366px) {
            background-image: url('../images/hero/vector-hero-desc-3360.png');
        }
    }
}

.hero-container {
    padding-top: 50px;
    // padding-bottom: 77px;
    @media screen and (min-width: 768px) {
        display: flex;
        padding-top: 70px;
        justify-content: flex-start;
    }
    @media screen and (min-width: 1366px) {
        padding-top: 43px;
    }
}
.hero__content {
    @media screen and (min-width: 768px) {
        width: 332px;
    }
    @media screen and (min-width: 1366px) {
        // position: relative;
        padding-top: 37px;
        min-width: 530px;
        margin-right: 73px;
    }
}
.hero__title {
    margin-top: 0;
    margin-bottom: 54px;
    font-family: var(--primary-font);
    @include style-text(800, 20px, 26px);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        @include style-text(800, 26px, 34px);
    }

    @media screen and (min-width: 1366px) {
        @include style-text(800, 58px, 75px);
    }
}
.hero__subtitle {
    font-family: var(--primary-font);
    @include style-text(700, 14px, 22px);

    letter-spacing: 0.08em;

    color: var(--primary-text-color);
    @media screen and (min-width: 1366px) {
        @include style-text(700, 20px, 33px);
    }
}
.hero__subtitle--light {
    font-weight: 500;

    color: var(--secondary-text-color);

    @media screen and (min-width: 1366px) {
        @include style-text(500, 20px, 33px);
    }
}
.accent {
    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 1366px) {
        display: inline-block;
    }
    color: var(--accent-color);
}
.btn-free-lesson {
    display: block;
    text-align: center;
    width: 260px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    transition: color var(--transtime-duration) var(--transition-timing-function),
        background-color var(--transtime-duration) var(--transition-timing-function),
        border var(--transtime-duration) var(--transition-timing-function);

    @media screen and (min-width: 768px) {
        margin-left: 0;
    }

    @media screen and (min-width: 1366px) {
        margin-top: 109px;
        margin-left: 70px;
        width: 354px;
        padding: 27px 70px;
    }

    font-family: inherit;
    @include style-text(700, 12px, 15px);
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: var(--title-text-color);
    background-color: var(--accent-color);
    transition: 0.3s;

    &:hover,
    &:focus {
        color: var(--accent-color);
        background-color: var(--primary-bcg-color);
        border: 3px solid var(--accent-color);
    }
}

.hero__thumb {
    margin-top: 30px;
    max-width: 320px;
    min-height: 177px;

    background-image: url('../images/hero/hero-mobile-208.png');
    background-size: 208px;
    background-position: bottom;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        margin-top: 0;
        min-width: 376px;
        height: 321px;
        background-image: url('../images/hero/hero-tablet-376.png');
        background-size: 376px;
        background-position: center;
    }
    @media screen and (min-width: 1366px) {
        min-width: 842px;
        height: 718px;
        background-image: url('../images/hero/hero-desktop-842.png');
        background-size: 842px;
    }
}

@media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero__thumb {
        background-image: url('../images/hero/hero-mobile2-416.png');
        @media screen and (min-width: 768px) {
            background-image: url('../images/hero/hero-tablet2-752.png');
        }
        @media screen and (min-width: 1366px) {
            background-image: url('../images/hero/hero-desktop2-1684.png');
        }
    }
}
