.how-we-do-section {
    margin-bottom: 50px;
    background-color: var(--primary-bcg-color);

    @media screen and (min-width: 1365px) {
        margin-bottom: 130px;
    }
}
.how-we-do__title {
    @include style-text(800, 20px, 26px);
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 0 30px 0;

    @media screen and (min-width: 1366px) {
        text-align: start;
        @include style-text(800, 46px, 60px);
        letter-spacing: 0.03em;
        margin: 0 0 50px 0;
    }
}

.how-we-do__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;

    @media screen and (min-width: 768px) {
        margin-top: -20px;
        margin-left: -20px;
    }
    @media screen and (min-width: 1366px) {
        margin-top: -20px;
        margin-left: -20px;
    }
}

.how-we-do__card {
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 20px);
        margin-top: 20px;
        margin-left: 20px;
    }

    @media screen and (min-width: 1366px) {
        flex-basis: calc(100% / 3 - 20px);
    }

    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.how-we-do__item {
    width: 100%;
    display: block;
    padding-top: 30px;
    padding-left: 2px;
    padding-right: 2px;
    min-height: 280px;

    @media screen and (min-width: 768px) {
        padding-top: 40px;
        min-height: 334px;
    }

    @media screen and (min-width: 1365px) {
        min-height: 396px;
    }
}

.how-we-do__item:hover {
    background-color: var(--accent-color);
}
.how-we-do__item:hover .how-we-do__icon-color,
.how-we-do__item:focus .how-we-do__icon-color {
    fill: var(--primary-bcg-color);
}
.how-we-do__item:hover .how-we-do__heading,
.how-we-do__item:focus .how-we-do__heading {
    color: var(--primary-bcg-color);
}
.how-we-do__item:hover .how-we-do__color,
.how-we-do__item:focus .how-we-do__color {
    color: var(--primary-bcg-color);
}
.how-we-do__item:hover .how-we-do__description,
.how-we-do__item:focus .how-we-do__description {
    color: var(--primary-bcg-color);
}
.how-we-do__icon {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 320px) {
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: 480px) {
        display: flex;
        justify-content: center;
    }
}
.how-we-do__icon-color {
    fill: var(--accent-color);
}
.how-we-do__color {
    display: flex;
    justify-content: center;

    font-size: 20px;
    line-height: 1.65;

    text-align: center;
    letter-spacing: 0.08em;

    color: var(--accent-color);

    align-items: center;
}
.how-we-do__heading {
    font-family: var(--primary-font);
    @include style-text(700, 14px, 20px);
    text-align: center;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);

    @media screen and (min-width: 320px) {
        padding-top: 20px;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        padding-top: 30px;
    }
    @media screen and (min-width: 1366px) {
        @include style-text(700, 20px, 28px);
    }
}
.how-we-do__description {
    font-family: var(--primary-font);
    @include style-text(500, 12px, 20px);
    text-align: center;
    letter-spacing: 0.08em;

    color: var(--secondary-text-color);

    @media screen and (min-width: 1366px) {
        @include style-text(500, 18px, 28px);
        text-align: center;
    }
}
.how-we-do__card-title {
    @media screen and (min-width: 768px) {
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 53px;
    }
    @media screen and (min-width: 1366px) {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 55px;
    }
}
